body
{
	margin: 0;
	padding: 0;
    background-color: #4c6880;
}

#principal
{
	display:flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 4rem;
	
}

p
{
  
    font-size: 3rem;
    color: #fff;
    font-variant: small-caps;
}

#info 
{
    font-size: 1.6rem;
    color: #4c6880;
    font-variant: small-caps;
    text-align: center;
    
}

#container-card-principal
{
	display:flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 2.5rem;
	border: 2px solid  #f3f7fa;
    border-radius: 2rem;
    width: 20rem;
    background-color: #f3f7fa;
    box-shadow: 3px 3px 5px 1px #000713;
}


select
{
    background-color: #4c6880;
    color: #f3f7fa;
    border: 2px solid #f3f7fa;
    border-radius: 2rem;
    width: 11rem;
    height: 3rem;
    text-align:  center;
    margin: 2rem;
    font-size: 1rem;
}

input
{
    background-color: #4c6880;
    border: none;
    border-radius: 2rem;
    width: 15rem;
    height: 2.5rem;
    color: #f3f7fa;
    text-align: center;
    

}

input:focus , select:focus
{
    outline: none;
}

/* para tirar as setas que vem por padrão no type number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder
{
    color: #f3f7fa;
}

button
{
    background-color: #4c6880;
    color: #f3f7fa;
    border: none;
    border-radius: 2rem;
    width: 12rem;
    height: 2.8rem;
    margin-top: 3rem;
    font-size: 1rem;
    font-variant: small-caps;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover
{
    background-color: #f3f7fa;
    border: 3px solid #4c6880;
    color: #4c6880;
    transform: scale(1.1);
    
}


#modal
{
    display: none;
    background-color: #f3f7fa;
    box-shadow: 3px 3px 5px 1px #000713;
    padding: 2.5rem;
	border: 2px solid  #f3f7fa;
    border-radius: 2rem;
    position: fixed;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Centraliza o modal */
    z-index: 1001; /* Z-index maior que o fundo escuro para garantir que fique na frente */
    transition: opacity 0.3s, transform 0.3s; /* Transições suaves para opacidade e transformação */
    
}


#modal-content
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30rem;
    justify-content: center;
    align-items: center;
}
#modal-content p 
{
    
    font-size: 1.4rem;
    color: #4c6880;
    font-variant: small-caps;
    text-align: center ;
    padding: 1rem;
}

#overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* Cor do fundo com transparência */
    z-index: 1000; /* Z-index alto para garantir que cubra todo o conteúdo */
    display: none; /* Inicialmente oculto */
    transition: opacity 0.3s; /* Transição suave para a opacidade */
}