body
{
	margin: 0;
	padding: 0;
    background-color: #4c6880;
}

#principal
{
	display:flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 4rem;
	
}

p
{
  
    font-size: 3rem;
    color: #fff;
    font-variant: small-caps;
}

#info 
{
    font-size: 1.6rem;
    color: #4c6880;
    font-variant: small-caps;
    text-align: center;
    
}

#container-card-principal
{
	display:flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 2.5rem;
	border: 2px solid  #f3f7fa;
    border-radius: 2rem;
    width: 20rem;
    background-color: #f3f7fa;
    box-shadow: 3px 3px 5px 1px #000713;
}


select
{
    background-color: #4c6880;
    color: #f3f7fa;
    border: 2px solid #f3f7fa;
    border-radius: 2rem;
    width: 11rem;
    height: 3rem;
    text-align:  center;
    margin: 2rem;
    font-size: 1rem;
}

input
{
    background-color: #4c6880;
    border: none;
    border-radius: 2rem;
    width: 15rem;
    height: 2.5rem;
    color: #f3f7fa;
    text-align: center;
    

}

input:focus , select:focus
{
    outline: none;
}

/* para tirar as setas que vem por padrão no type number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder
{
    color: #f3f7fa;
}

button
{
    background-color: #4c6880;
    color: #f3f7fa;
    border: none;
    border-radius: 2rem;
    width: 12rem;
    height: 2.8rem;
    margin-top: 3rem;
    font-size: 1rem;
    font-variant: small-caps;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover
{
    background-color: #f3f7fa;
    border: 3px solid #4c6880;
    color: #4c6880;
    transform: scale(1.1);
    
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}